<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>About</title>
    <link rel='icon' href='/img/weather.png'/>
    <link rel='stylesheet' href='/css/styles.css' />
    <script src='/js/app.js'></script>
  </head>
  <body>
    <div class='main-content'>
      {{>header}}
      <p>This site was created by Jonathan Rojas. It uses data from weatherstack</p>
      <img class='portrait' src='/img/robot.jpg' />
    </div>
    {{>footer}}
  </body>
</html>